<template>
  <div class="main pusher"  v-title="labels.title">
    <nav class="ui secondary pointing menu" role="navigation" :aria-label="labels.secondaryMenu">
      <router-link
        class="ui item"
        :to="{name: 'manage.library.edits'}"><translate translate-context="*/Admin/*/Noun">Edits</translate></router-link>
      <router-link
        class="ui item"
        :to="{name: 'manage.library.artists'}"><translate translate-context="*/*/*">Artists</translate></router-link>
      <router-link
        class="ui item"
        :to="{name: 'manage.library.albums'}"><translate translate-context="*/*/*">Albums</translate></router-link>
      <router-link
        class="ui item"
        :to="{name: 'manage.library.tracks'}"><translate translate-context="*/*/*">Tracks</translate></router-link>
      <router-link
        class="ui item"
        :to="{name: 'manage.library.libraries'}"><translate translate-context="*/*/*">Libraries</translate></router-link>
      <router-link
        class="ui item"
        :to="{name: 'manage.library.uploads'}"><translate translate-context="*/*/*">Uploads</translate></router-link>
      <router-link
        class="ui item"
        :to="{name: 'manage.library.tags'}"><translate translate-context="*/*/*">Tags</translate></router-link>
    </nav>
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script>
export default {
  computed: {
    labels() {
      let title = this.$pgettext('Head/Admin/Title', 'Manage library')
      let secondaryMenu = this.$pgettext('Menu/*/Hidden text', 'Secondary menu')
      return {
        title,
        secondaryMenu
      }
    }
  }
}
</script>

<style scoped>
.ui.menu .item > .label {
  position: absolute;
  right: -2em;
}
</style>
